/* second section  */
.leftsecondcontainer{
    justify-content: center;
    float: left;
    text-align: center;
    width: 50%;
    padding-left: 50px;
    padding-top: 200px;
    text-align: center;
}
.rightsecondcontainer{
    float: right;
    text-align: center;
    justify-content: center;
}
.section .secondcontainer{
    border-bottom: 10px;
    border-color: gray;
}
.section .secondcontainer .leftsecondcontainer h1{
    width: 600px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.section .secondcontainer .leftsecondcontainer h2{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
/* Second section */