/* Third section */
.leftoffline{
    float: left;
    text-align: center;
    justify-content: center;
}
.rightoffline{
    justify-content: center;
    float: right;
    text-align: center;
    width: 50%;
    /* width: 950px; */
    /* margin: auto; */
    padding-left: 50px;
    padding-top: 70px;
    text-align: center;
}
.section .rightoffline h1{
    padding-top: 100px;
    width: 600px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.section .rightoffline h2{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
/* Third section */