/* Fifth section */
.leftchild{
    float: left;
    text-align: center;
    justify-content: center;
}
.rightchild{
    justify-content: center;
    float: right;
    text-align: center;
    width: 50%;
    padding-left: 50px;
    padding-top: 40px;
    text-align: center;
}
.section .mainchild .rightchild h1{
    width: 600px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.section .mainchild .rightchild h2{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
/* Fifth section */