/* Sixth section */
.details{
    box-sizing: border-box;
    text-align: center;
}
.details h1{
    padding: 60px;
    font-size: 60px;
}
form h3{
    font-size: 1rem;
    margin: 18px 0;
    text-align: center;
    padding: 30px;
}
form .email{
    width: 1000px;
    margin: auto;
}
form .email input{
    height: 80px;
    width: 550px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    outline: none;
    padding-bottom: 20px;
}
form .email button{
    margin: auto;
    height: 80px;
    width: 220px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 7px 10px;
    background: #e50914;
    cursor: pointer;
    border: none;
    margin-left: -5px;
    margin-bottom: 50px;
}
form .email button:hover{
    background-color:  #ee0914;
}
form .email button a{
    text-decoration: underline;
    color: white;
}
.container .title{
    padding: 70px 45px;
}
.container .title .content{
    width: 950px;
    margin: auto;
    padding: 75px 0;
    text-align: center;
}
.container .title .content h1{
    width: 650px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.container .title .content h2{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
.summary{
    height: 60px;
    width: 1000px;
    margin: auto;
    padding: 20px;
    font-size: 30px;
    outline: none;
    text-align: left;
    padding-bottom: 50px;
    margin-bottom: 8px;
    /* box-sizing: border-box; */
    background-color: rgba(63, 61, 61, 0.733);
}
.summaryptag{
    height: auto;
    width: 1000px;
    margin: auto;
    padding: 20px;
    font-size: 30px;
    outline: none;
    text-align: left;
    /* padding-bottom: 50px; */
    margin-bottom: 8px;
    /* box-sizing: border-box; */
    background-color: rgba(63, 61, 61, 0.733);
}
/* Sixth section */