/* Seventh section */
.List{
    color:rgb(110, 109, 109);
    padding-left: 100px;
    box-sizing: border-box;
    padding: 70px 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /* margin: auto; */
    padding-left: 100px;
}
.lastcontainer #id{
    padding-left: 220px;
    padding-bottom: 20px;
}
.lastcontainer{
    padding: 20px;
}
.lastcontainerlist{
    /* display: flex; */
    padding-left: 200px;
}
.lastcontainerlistcontents{
    padding: 20px;
    display: inline-block;
}

/* Language */
.right{
    padding-left: 220px;
    padding-top: 20px;
    height: 100px;
    float: left;
    position: absolute;
}
.right .language{
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 7px 10px;
    color: white;
    background: none;
    cursor: pointer;
    margin-right: 15px;
}
.right .language option{
    background-color: gray;
}
/* Language */
.padding
{
    padding-top: 20px;
    font-size: 11px;
    padding-bottom: 20px;
}
/* Seventh section */