*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-weight: bold; */
}
body{
    width: 100%;
    height: 100%;
    color: white;
    background: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
/* section gaps*/
.pagegap{
    height: 8px;
    width: 100%;
    background-color: rgb(48, 48, 48);
}
/* section gaps */

/* Section */
.section{
    box-sizing: border-box;
    display: flex;
    border-top: 10px;
    border-bottom: 10px;
}
/* Section */

/* First section */
.container::before{
    content: "";
    background: url(./netflixmain.jpg);
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
}
.container .navbar{
    height: 100px;
    display: flex;
}
.container .navbar .left{
    height: 100%;
    display: flex;
    float: left;
}
.container .navbar .left img{
    height: 100px;
    position: absolute;
    left: 35px;
}
.container .navbar .right{
    display: flex;
    height: 100px;
    float: right;
    position: absolute;
    right: 50px;
}
.container .navbar .right .language{
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 7px 10px;
    color: white;
    background: none;
    cursor: pointer;
    margin-right: 15px;
}
.container .navbar .right .language option{
    background-color: gray;
}
.container .navbar .right button{
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    padding: 7px 17px;
    background: #e50914;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    border: none;
}
.container .navbar .right button a{
    text-decoration: none;
    color: white;
}
.container .title{
    padding: 70px 45px;
}
.container .title .content{
    width: 950px;
    margin: auto;
    padding: 75px 0;
    text-align: center;
}
.container .title .content h1{
    line-height: 60px;
    padding: 10px;
    width: 650px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.container .title .content h2{
    width: 650px;
    margin: auto;
    padding-top: 20px;
    font-size: 1.6rem;
    text-align: center;
}
.container .title .content form h3{
    font-size: 1.1em;
    margin: 18px 0;
    padding: 20px;
    text-align: center;
}
.container .title .content form .email{
    width: 1000px;
    margin: auto;
}
.container .title .content form .email input{
    height: 80px;
    width: 550px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    outline: none;
}
.container .title .content form .email button{
    margin: auto;
    height: 80px;
    width: 220px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 7px 10px;
    background: #e50914;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
    margin-left: -5px;
}
.container .title .content form .email button:hover{
    background-color: red;
}
.container .title .content form .email button a{
    text-decoration: underline;
    color: white;
}
/* First section */

/* second section  */
.leftsecondcontainer{
    justify-content: center;
    float: left;
    text-align: center;
    width: 50%;
    padding-left: 50px;
    padding-top: 200px;
    text-align: center;
}
.rightsecondcontainer{
    float: right;
    text-align: center;
    justify-content: center;
}
.section .secondcontainer{
    border-bottom: 10px;
    border-color: gray;
}
.section .secondcontainer .leftsecondcontainer h1{
    width: 600px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.section .secondcontainer .leftsecondcontainer h2{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
/* Second section */

/* Third section */
.leftoffline{
    float: left;
    text-align: center;
    justify-content: center;
}
.rightoffline{
    justify-content: center;
    float: right;
    text-align: center;
    width: 50%;
    /* width: 950px; */
    /* margin: auto; */
    padding-left: 50px;
    padding-top: 70px;
    text-align: center;
}
.section .rightoffline h1{
    padding-top: 100px;
    width: 600px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.section .rightoffline h2{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
/* Third section */

/* Fourth section */
.lefteverywhere{
    justify-content: center;
    float: right;
    text-align: center;
    width: 50%;
    /* width: 950px; */
    /* margin: auto; */
    padding-left: 50px;
    padding-top: 70px;
    text-align: center;
}
.righteverywhere{
    float: left;
    text-align: center;
    justify-content: center;
}
.section .lefteverywhere h1{
    padding-top: 100px;
    width: 600px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.section .lefteverywhere h2{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
/* Fourth section */

/* Fifth section */
.leftchild{
    float: left;
    text-align: center;
    justify-content: center;
}
.rightchild{
    justify-content: center;
    float: right;
    text-align: center;
    width: 50%;
    padding-left: 50px;
    padding-top: 40px;
    text-align: center;
}
.section .mainchild .rightchild h1{
    width: 600px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.section .mainchild .rightchild h2{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
/* Fifth section */

/* Sixth section */
.details{
    box-sizing: border-box;
    text-align: center;
}
.details h1{
    padding: 60px;
    font-size: 60px;
}
form h3{
    font-size: 1rem;
    margin: 18px 0;
    text-align: center;
    padding: 30px;
}
form .email{
    width: 1000px;
    margin: auto;
}
form .email input{
    height: 80px;
    width: 550px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    outline: none;
    padding-bottom: 20px;
}
form .email button{
    margin: auto;
    height: 80px;
    width: 220px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 7px 10px;
    background: #e50914;
    cursor: pointer;
    border: none;
    margin-left: -5px;
    margin-bottom: 50px;
}
form .email button:hover{
    background-color:  #ee0914;
}
form .email button a{
    text-decoration: underline;
    color: white;
}
.container .title{
    padding: 70px 45px;
}
.container .title .content{
    width: 950px;
    margin: auto;
    padding: 75px 0;
    text-align: center;
}
.container .title .content h1{
    width: 650px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.container .title .content h2{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
.summary{
    height: 60px;
    width: 1000px;
    margin: auto;
    padding: 20px;
    font-size: 30px;
    outline: none;
    text-align: left;
    padding-bottom: 50px;
    margin-bottom: 8px;
    /* box-sizing: border-box; */
    background-color: rgba(63, 61, 61, 0.733);
}
.summaryptag{
    height: auto;
    width: 1000px;
    margin: auto;
    padding: 20px;
    font-size: 30px;
    outline: none;
    text-align: left;
    /* padding-bottom: 50px; */
    margin-bottom: 8px;
    /* box-sizing: border-box; */
    background-color: rgba(63, 61, 61, 0.733);
}
/* Sixth section */

/* Seventh section */
.List{
    color:rgb(110, 109, 109);
    padding-left: 100px;
    box-sizing: border-box;
    padding: 70px 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /* margin: auto; */
    padding-left: 100px;
}
.lastcontainer #id{
    padding-left: 220px;
    padding-bottom: 20px;
}
.lastcontainer{
    padding: 20px;
}
.lastcontainerlist{
    /* display: flex; */
    padding-left: 200px;
}
.lastcontainerlistcontents{
    padding: 20px;
    display: inline-block;
}

/* Language */
.right{
    padding-left: 220px;
    padding-top: 20px;
    height: 100px;
    float: left;
    position: absolute;
}
.right .language{
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 7px 10px;
    color: white;
    background: none;
    cursor: pointer;
    margin-right: 15px;
}
.right .language option{
    background-color: gray;
}
/* Language */
.padding
{
    padding-top: 20px;
    font-size: 11px;
    padding-bottom: 20px;
}
/* Seventh section */